* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Bellenia Love';
    src: url('components/Bellenia\ Love.otf');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('components/Inconsolata.otf');
}

@font-face {
    font-family: 'American Typewriter Regular';
    src: url('components/American\ Typewriter\ Regular.ttf');
}

div.clickEffect{
    position: fixed;
    box-sizing: border-box;
    border-style:solid;
    border-color: rgb(115, 148, 173);
    border-radius:50%;
    animation: clickEffect 0.4s ease-out;
    z-index: 99999;
}

@keyframes clickEffect{
    0% {
        opacity: 1;
        width: 0.25em; 
        height: 0.25em;
        margin: -0.125em;
        border-width: 0.25em;
    }
    100% {
        opacity:0.2;
        width: 4em; 
        height: 4em;
        margin: -2em;
        border-width: 0.03em;
    }
}


body {
    min-height: 400vh;
    min-width: 100%;
}

header {
    padding-left: 12vw;
    padding-right: 12vw;;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 99;
}

img {
    pointer-events: none;
    cursor: default;
}

.logo {
    margin-top: 0.5em;
    font-family: 'Bellenia Love';
    font-size: 3em;
    letter-spacing: 0.2ch;
    color: rgb(115, 148, 173);
    user-select: none;
}

.navigation a {
    font-family: 'American Typewriter Regular';
    position: relative;
    font-size: 1.25em;
    color: rgb(115, 148, 173);
    text-decoration: none;
    margin-left: 20px;
}

.navigation a:hover {
    color: rgb(115, 148, 173);
    text-decoration: none;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rgb(115, 148, 173);
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

#intro {
    margin: 0 12vw;
    height: 100vh;
    display: grid;
    align-items: center;
    width: 76vw;
    /* justify-content: space-between; */
}

.intro-content {
    column-gap: 2vw;
    display: flex;
    align-items: center;
}

.greeting {
    height: 50vh;
    width: auto;
    flex-direction: column;
}

.greeting p {
    color: rgb(196, 202, 217);
    font-size: 1.5vw;
    font-family: 'Inconsolata';
    text-align: left;
    letter-spacing: 0.2ch;
}

.greeting h1 {
    color: rgb(115, 148, 173);
    font-size: 6.4vw;
    font-family: 'Bellenia Love';
    letter-spacing: 0.2ch;
    text-align: left;
    margin-top: 20px;
}

.greeting img {
    width: 10vw;
    margin-top: 3vw;
    margin-left: 18vw;
}

.box {
    display: flex;
    justify-content: end;
    height: 150px;
    margin-top: 9vw;
}

.rotate-text {
    display: flex;
    margin-left: auto;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(components/arrow-down.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.text {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: effect 25s linear infinite reverse;
}

@keyframes effect {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.text span {
    position: absolute;
    left: 50%;
    font-size: 15px;
    transform-origin: 0 75px;
}

#intro-img {
    width: 20vw;
    border-radius: 190px;
}

.message {
    text-align: left;
    align-self: end;
    width: auto;
}

.message p {
    color: rgb(196, 202, 217);
    font-size: 1.15vw;
    font-family: 'Inconsolata';
} 

.message h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(115, 148, 173);
    font-size: 2vw;
    font-family: 'American Typewriter Regular';
    letter-spacing: 0.2ch;
}

.socials {
    column-gap: 50px;
    margin-top: 20px;
}

.socials a {
    justify-content: center;
    align-items: center;
    max-width: 100%;
    display: inline-block;
}

.socials-link-icon {
    height: 2vw;
    width: 2vw;
}





#about {
    text-align: left;
    margin-left: 12vw;
    margin-right: 12vw;
    height: 100vh;
    position: relative;
    display: flex;
    padding-top: 15vh;
}

.desc h1 {
    color: rgb(115, 148, 173);
    font-size: 100px;
    letter-spacing: 0.2ch;
    font-family: 'Bellenia Love';
}

.desc p {
    color: rgb(196, 202, 217);
    font-size: 24px;
    font-family: 'Inconsolata';
    letter-spacing: 0.2ch;
}

#other-stuff {
    text-align: center;
    height: 100vh;
    margin-left: 12vw;
    margin-right: 12vw;
    position: relative;
    /* display: grid; */
    align-items: center;
}

.other-stuff h1 {
    color: rgb(115, 148, 173);
    font-size: 100px;
    letter-spacing: 0.2ch;
    font-family: 'Bellenia Love';
}

.other-stuff p {
    font-family: 'Inconsolata';
    color: rgb(196, 202, 217);
    font-size: 24px;
}